

<div class="container">
<br>
<br>
    <% @services.each do |service|%>
      <% if service.user_id == @user.id %>
        <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
          <div class="bg-white rounded shadow h-100">
            <div class="p-3 rounded-bottom d-flex flex-column">
              <strong><%= service.title %> <span class="text-muted font-weight-normal">• <%= service.price %> <i class="fas fa-euro-sign"></i></span></strong>
              <small class="text-muted"><%= service.description %></small>
              <div class="d-flex align-items-end justify-content-between pt-4">
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
  </div>
  <hr class="my-5">
