<div class="container">
    <% users = User.all %>
    <% users.each do |user| %>
    <% if user.id == @service.user_id %>
       <% @user = user %>
        <% end %>
    <% end %>
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-100">
          <div class="p-3 rounded-bottom d-flex flex-column">
            <strong><%= @service.title %> <span class="text-muted font-weight-normal">• <%= @service.price %> <i class="fas fa-star star-yellow"></i></span></strong>
            <small class="text-muted"><%= @service.description %></small>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <div>
                <i class="fas fa-quote-left me-2"></i><small class="flex-grow-1"><%= @user.username %></small>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <hr class="my-5">
</div>
