#search-bar{
  width: 40%;
  border: 1px #959090;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  #query{
    border-radius: 50px;
    padding-top: 8px;
    padding-bottom: 8px;

  }
}
.sticky-search{
  position: sticky;
}
