<div class="container">
<br>
<div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
 <div class="bg-white rounded shadow h-100">
 <div class="p-3 rounded-bottom d-flex flex-column">
<strong><h1>Get help with any issue</h1></strong>
<strong><h1>Earn money by helping out</h1></strong>
</div>
</div>
</div>

<h3>Join our community and get help when and where you need it</h3>



<%= link_to "Browse Services", services_path, class: "btn btn-secondary text-decoration-none" %>
</div>
